@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500&display=swap');

*{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    text-decoration: none;
    font-size: 32px;
    color: white;
    pointer-events: none;
}

.navbar a{
    text-decoration: none;
    margin-right: 40px;
    color: white;
    font-size: 18px;
}

.navbar .btnloginPopup{
    position: relative;
    background-color: transparent;
    font-size: 18px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.navbar .btnloginPopup::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: white;
    opacity: 0.85;
}

.section-1{
    min-height: 100vh;
    background: url('/img/7743415_1781.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: transparent;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 0 40px;
    backdrop-filter: blur(30px);
    box-shadow: -1px 0 10px rgba(0, 0, 0, .4);
    border-left: 2px solid rgba(255, 255, 255, .1);
    opacity: 0;
    pointer-events: none;
}

.wrapper.active-popup{
    opacity: 1;
    pointer-events: auto;
    transition-duration: 0.5;
}

.icon-close{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
}

.icon-close i{
    font-size: 50px;
    color: white;
}

.wrapper.active .form-box.login{
    display: none;
}

.wrapper .form-box.login{
    display: block;
}

.wrapper .form-box.call-owner{
    display: none;
}
.wrapper.active .form-box.call-owner{
    display: block;
}


.wrapper .logreg-box {
    width: 100%;
}

.logreg-box .logreg-title {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.logreg-title h2{
    font-weight: 500;
    font-size: 32px;
}

.logreg-title p{
    font-weight: 300;
    font-size: 15px;
}

.logreg-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    border-bottom: 2px solid white;

}

.logreg-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    padding-right: 40px;
}

.input-box label{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
    color: white;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box .icon{
    position: absolute;
    font-size: 18px;
    top: 50%;
    transform: translatey(-50%);
    right: 0;
    color: white;
}

.logreg-box .btn-login{
    width: 100%;
    height: 50px;
    background: white;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    cursor: pointer;
    color: black;
    font-weight: 700;
}

.logreg-box .logreg-link {
    margin-top: 25px;
    font-size: 15px;
    color: white;
    text-align: center;
}

.logreg-link p a{
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.logreg-link p a:hover{
    text-decoration: underline;
}

.hamburger-menu {
    position: absolute;
    top : 20px;
    right: 15px;
    flex-direction: column;
    display: none;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger-menu .bar{
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width: 800px){
    .hamburger-menu{
        display: flex;
    }


    .navbar{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        backdrop-filter: blur(40px);
    }

    .navbar a{
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;

    }

    .header{
        align-items: normal;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .btnloginPopup{
        padding: 20px 20px 20px 20px;
        width: 100%;
    }

    .navbar.active{
        display: flex;
    }

    .wrapper{
        width: 100%;
    }
}